<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间是必须的，如果不使用注解的话，名字可以自己定义。一旦使用了注解，这里必须是那个使用注解类或接口的全名 -->
<mapper namespace="com.lee.Page">
    <!-- 定义一个实体类的返回结果集 -->
    <resultMap id="pageResultMap" type="project.common.PageEntity">
        <result property="totalRows" column="TOTALROWS"/>
        <result property="pageCount" column="PAGECOUNT"/>
    </resultMap>

    <!-- 分页查询总条数 -->
    <select id="findTableCount" resultType="Integer" parameterType="project.common.PageEntity">
        SELECT COUNT(*) FROM ${table} WHERE 1=1
        <if test="where!=null and where!=''">
            ${where}
        </if>
    </select>

    <!-- 分页查询 -->
    <select id="findPager" resultType="java.util.Map" parameterType="project.common.PageEntity">
        SELECT * FROM ${table} WHERE 1=1
        <if test="where!=null and where!=''">
            ${where}
        </if>
        <if test="orderColumn!=null and orderColumn!=''">
            ORDER BY ${orderColumn}
            <if test="orderStyle!=null and orderStyle!=''">
                ${orderStyle}
            </if>
        </if>
        LIMIT #{startRow},#{pageSize}
    </select>

</mapper>
