* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a, a:hover, a:focus {
    text-decoration: none;
}

ul {
    list-style: none
}

th {
    text-align: left;
}

.fl {
    float: left;
}

.tc {
    text-align: center !important;
}

.btn {
    text-align: center;
}

.tr {
    text-align: right;
}

.form-group {
    width: 100%;
    float: left
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 100 !important;
    display: none;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
}

/* 初始化 */
.panel-heading .form-group {
    margin-bottom: 0px !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: #fff;
}

.control-label {
    padding: 0px;
    text-align: right;
    line-height: 38px;
}

.form-control {
    height: 40px;
    line-height: 1.62857
}

.btn {
    line-height: 1.82857
}

/* 昨日关键数字统计 */
.yesterdayBody ul {
    border-right: 1px solid #ddd;
}

.yesterdayBody ul li {
    padding-left: 20px;
    width: 120px;
}

.yesterdayBody ul h3 {
    color: #555;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.pros-title {
    margin: 10px 0 10px 0;
    font-size: 16px;
    width: 200px;
}

.yesterdayBody ul li {
    padding-bottom: 0px;
    margin-top: 0px;
}

.downicon {
    color: #029c02;
    padding-left: 10px;
}

.upicon {
    color: #f1310a;
    padding-left: 10px;
}

/*用户数据量统计*/
.radiogroup {
    border-radius: 3px;
    border: 1px solid #ddd;
    float: left;
    width: 100%;
    padding: 9px;
}

.radiogroup .radio-item {
    width: 33.33333%;
    float: left;
    text-align: center;
}

.radiogroup .radio-item .radioinput {
    color: #535351;
    margin-right: 8px;
    font-weight: 100 !important;
}

/* 报表容器初始化 */
.main {
    width: 99%;
    height: 400px;
    padding: 20px;
}

.Pmsg {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    font-size: 30px;
    margin-left: -55px;
    margin-top: -10px;
}

.p-chart-title .glyphicon {
    float: right;
    padding-top: 3px;
}

.sticky-header .logo {
    background: #fff;
    border-right: 1px solid #ddd
}

.left-side-collapsed .logo-icon {
    background: #fff;
    height: 50px;
    margin-top: -52px;
    border-right: 1px solid #ddd
}

.btn-primary {
    padding-left: 30px;
    padding-right: 30px;
}

.title-w1 {
    width: 20px;
}

.queryBtn {
    position: absolute;
    right: 20px;
}

.title-w4 {
    width: 80px;
}

.title-w2 {
    width: 40px;
}

.panel {
    border: medium none;
    overflow: hidden;
}

.date-set {
    padding: 6px !important;
}

.date-reset {
    padding: 6px !important;
}
